.App{
  background-color:coral;
  display: grid;
  grid-template-rows: 15em auto;
}

.menu{
  display: grid;
  place-items: center;
}

.menu-items{
  text-align: center;
}
.menu-items p{
  font-weight: bold;
}
.menu-items input{
  padding: .4em 1em;
  width: 200px;
  border: solid 1px transparent;
  border-radius: 10px;
  box-shadow: 0 0 5px ;
}
.menu-items button{
all:unset;
align-items: center;
margin: 0.5em ;
padding: .2em 1em;
background-color: silver;
box-shadow: 0 0 5px;
border-radius: 10px;
cursor: pointer;


}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 1em;
  padding: 0.5em;
}
.card{
  background-color:white;
  border-radius: 10px;
  padding: 0.5em;
  height: 12em;
  box-shadow: 0 0 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.emoji{
  font-size: 2.5em;
}


@media  (min-width: 600px){
  .container{
    width:70%;
    margin-inline: auto;
  }
}
  